<div class="container mt-5">
  <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail Address</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="text" name="email" class="form-control" id="email"
                   placeholder="your email" formControlName="name" required autofocus>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Password" formControlName="password" required>
          </div>
        </div>
          <div class="container" style="margin-left: 125px;">
              <button type="submit" class="btn btn-primary w-50">Login</button>
          </div>
      </div>


    </div>

  </form>
</div>